@import "./../../../assets/css/bootstrap.min.css";
@import "./../../../assets/css/fontawesome.min.css";

body{
    background:#eee;
    }                
.header-search
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.meta-time{
    font-size: 14px;
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.5);
}
    .ibox-content {
        background-color: #FFFFFF;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #E7EAEC;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0px;
    }
    
    .search-form {
        margin-top: 10px; 
    }
    .meta-suggest{
        margin-top: 70px;
        font-size: 18px;
    }
    .red-text
    {
        color:#ea4335;  
        margin-right: 5px;      
    }
    .search-result h3 {
        margin-bottom: 0;
        font-family: arial,sans-serif;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.3;
        margin-bottom: 3px;
    }
    a{
        color: #1a0dab;
    }
  
    .search-result p {
        font-size: 12px;
        margin-top: 5px;
        overflow: hidden;
        word-wrap: break-word;
        line-height: 1.58;
        text-align: left;
        font-family: arial,sans-serif;
        font-size: 14px;
    }
    
    .hr-line-dashed {
        border-top: 1px dashed #E7EAEC;
        color: #ffffff;
        background-color: #ffffff;
        height: 1px;
        margin: 20px 0;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 100;
    }
    .btn-connexion
    {
        color:white;
        background-color: rgb(190, 104, 24);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
.error-message
{
    margin-top: 50px;
}

ul li
{
    line-height: 35px;
}

